@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Library Manager 2021</h1>
    <p>Managing books in the library since 2021</p>
</div>
