@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Library Manager</h1>
    <p>Managing books since late 2021</p>
    <img src="https://mocah.org/uploads/posts/4538489-women-books-fantasy-art-artwork-library-portrait-display.jpg" class="img-fluid" style=width:24rem alt="...">
</div>
