@page
@model BookLibrary.Pages.Books.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>@Model.Book.Title</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Book.Id" />
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.AuthorId" class="control-label">Author</label>
                <select asp-for="Book.AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                <span asp-validation-for="Book.AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.CategoryId" class="control-label">Category</label>
                <select asp-for="Book.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Book.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.ReleaseYear" class="control-label"></label>
                <input asp-for="Book.ReleaseYear" class="form-control" />
                <span asp-validation-for="Book.ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Description" class="control-label"></label>
                <input asp-for="Book.Description" class="form-control" />
                <span asp-validation-for="Book.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.ImageUrl" class="control-label"></label>
                <input asp-for="Book.ImageUrl" class="form-control" />
                <span asp-validation-for="Book.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.AtributeId" class="control-label">Size Attribute</label>
                <select asp-for="Book.AtributeId" class="form-control" asp-items="ViewBag.AtributeId"></select>
                <span asp-validation-for="Book.AtributeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
